    {{ if not ($.Scratch.Get "paginatedSections") }}
        {{ if .Site.Params.paginatedsections }}
            {{ $.Scratch.Set "paginatedSections" .Site.Params.paginatedsections }}
        {{ else }}
            {{ $.Scratch.Set "paginatedSections" "posts" }}
        {{ end }}
    {{ end }}

    {{ $list := where .Site.RegularPages "Section" "in" ($.Scratch.Get "paginatedSections") }}
    {{ $list := where $list "Section" "!=" "" }}
    {{ $paginator := .Paginate ( $list ) }}

    {{ if gt $paginator.PageNumber 1}}
        {{ with $paginator }}
        <div class="extra-pagination inner">
            <nav class="pagination" role="navigation">
                <span class="page-number">Page {{ .PageNumber }} of {{ .TotalPages }}</span>
            </nav>
        </div>
        {{ end }}
    {{ end }}
    
    {{ $context := . }}
    {{ range $paginator.Pages }}
        {{ partial "li.html" (dict "context" $context "page" . ) }}
    {{ end }}

    {{ partial "pagination.html" $paginator }}
