/* Big cover image on the home page */
.main-header {
  position: relative;
  display: table;
  width: 100%;
  height: 100vh;
  margin-bottom: 5rem;
  text-align: center;
  background: #222 no-repeat center center;
  background-size: cover;
  overflow: hidden;

  .inner {
    width: 80%;
  }

  a {
    text-decoration: none;
  }

  .main-header-image {
    margin: 2rem 0 0;
    img {
      width: 115px;
      height: 115px;
      border-radius: 100px;
      border: 1px solid #fff;
    }
  }

  .social {
    margin: 2rem;

    a {
      display: inline-block;
      margin: 0 .5rem;
    }

    .icon-linkedin,
    .icon-codepen,
    .icon-github,
    .icon-twitter,
    .icon-facebook,
    .icon-instagram,
    .icon-pinterest,
    .icon-google-plus {
      color: white;
      font-size: 1.5em;
    }
  }

  &.no-cover {

    .icon-linkedin,
    .icon-codepen,
    .icon-github,
    .icon-twitter,
    .icon-facebook,
    .icon-instagram,
    .icon-pinterest,
    .icon-google-plus {
      color: #4A4A4A;
    }

    .main-nav.overlay,
    .menu-button {
      background: none;
    }

    .main-nav.overlay a {
      color: #4A4A4A;
    }


  }

  // post header when using cover image
  &.post-head:not(.no-cover) {
    .main-header-content {
      background-color: #0008;
      justify-content: center;
      h1 {
        color: #fff;
        text-shadow: 0 2px 3px #0005;
        width: 80%;
        max-width: $content-max-width + ($content-max-width/2);
      }
    }

    .blog-logo {
      transition: all .5s ease;
      text-shadow: 0 0 2px #0005;
      .logo {
        transition: all .5s ease;
        box-shadow: 0 0 2px #0005;
      }
      &:hover {
        text-shadow: 0 0 3px #000c;
        .logo {
          box-shadow: 0 0 3px #000c;
        }
      }
    }

  }
}
