nav {
  .breadcrumb {
    margin-bottom: 0px;

    li {
      display: inline;
      font-size: 14px;
      font-family: helvetica;

      a {
        text-decoration: none;

        &:after {
          content: " >";
        }
      }
    }
  }

  .navpage {
    font-size: 1em;
    font-family: helvetica;
    width: 100%;

    > ul {
      background: #efefef;
      background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);
      background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
      background: -webkit-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
      box-shadow: 0px 0px 90px rgba(0, 0, 0, 0.15);
      padding: 0 20px;
      border-radius: 10px;
      list-style: none;
      position: relative;
      display: inline-table;
      width: 100%;
    }

    li {
      list-style: none;
    }

    &:after {
      content: "";
      clear: both;
      display: block;
    }

    > ul > li > a {
      font-weight: bold;
      text-decoration: none;
      font-size: 1.2em;
      font-variant: small-caps;
    }


    ul {
      padding-left: 0px;
      margin-left: 0px;

      ul li {
        display: block;
        margin-left: 30px;
        line-height: 1.2em;

        a {
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        &:after {
          content: "";
        }

        ul li {
          display: block;
          font-size: smaller;
          margin-left: 30px;
          line-height: 1.1em;
        }
      }
    }
  }

  .navchildren {
    margin-top: 0px;
    background: #efefef;
    background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);
    background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
    background: -webkit-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
    box-shadow: 0px 0px 90px rgba(0, 0, 0, 0.15);
    padding: 0 20px;
    border-radius: 10px;
    list-style: none;
    position: relative;
    display: inline-table;
    width: 100%;

    li {
      font-size: smaller;
      line-height: 1.1em;
      font-family: helvetica;
      /*display: block;*/
    }
    a {

      line-height: 1.1em;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}