.post-template {
  .post-header {
    margin-bottom: 3.4rem;
  }

  .post-title {
    margin-bottom: 0;
  }

  .post-meta {
    margin: 0;
  }

  .post-date {
    padding: 0;
    margin: 0;
    border: none;
  }

  /* Stop elements, such as img wider than the post content, from
     creating horizontal scroll - slight hack due to imperfections
     with browser width % calculations and rounding */
  .content {
    overflow: hidden;
  }

  /* Tweak the .post wrapper style */
  .post {
    margin-top: 0;
    border-bottom: none;
    padding-bottom: 0;

    /* Kill that stylish little circle that was on the border, too */
    &:after {
      display: none;
    }
  }
}

.post-content {
  margin-top: 2rem;

  /* Keep images centered, and allow images wider than the main
     text column to break out. */
  > img {
    display: block;
    max-width: 126%;
    height: auto;
    padding: 0;
    /* Centers an image by (1) pushing its left edge to the
       center of its container and (2) shifting the entire image
       in the opposite direction by half its own width.
       Works for images that are larger than their containers. */
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%); /* for Safari and iOS */
    -ms-transform: translateX(-50%); /* for IE9 */
    transform: translateX(-50%);
  }

  figure {
    margin: 0 0 1.75em 0;
    width: 126%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%); /* for Safari and iOS */
    -ms-transform: translateX(-50%); /* for IE9 */
    transform: translateX(-50%);
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
    }

    figcaption {
      font-family: "Open Sans", sans-serif;
      font-size: 1.4rem;
      color: #6d7579
    }
  }
}

/* The author credit area after the post */
.post-footer {
  position: relative;
  margin: 6rem 0 0 0;
  padding: 2rem 0 0 0;
  border-top: #EBF2F6 1px solid;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  h4 {
    font-size: 1.8rem;
    margin: 0;
  }

  p {
    margin: 1rem 0;
    font-size: 1.4rem;
    line-height: 1.75em;
  }
}

/* list of author links - location / url */
.author-meta {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 1.4rem;
  line-height: 1;
  font-style: italic;
  color: #9EABB3;

  a {
    color: #9EABB3;

    &:hover {
      color: #111;
    }
  }
}

/* Create some space to the right for the share links */
.post-footer {
  .author {
    margin-right: 180px;
  }

  h4 a {
    color: #2e2e2e;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  /* Drop the share links in the space to the right.
     Doing it like this means it's easier for the author bio
     to be flexible at smaller screen sizes while the share
     links remain at a fixed width the whole time */
  .share {
    width: 180px;

    a {
      font-size: 1.8rem;
      display: inline-block;
      margin: 1rem 1.6rem 1.6rem 0;
      color: #BBC7CC;
      text-decoration: none;

      &:hover {
        color: #50585D;
      }
    }
  }

}
