<div class="social">
{{ if .Site.Params.linkedinName }}
    <a class="icon-linkedin" href="https://www.linkedin.com/in/{{ .Site.Params.linkedinName }}" target="_blank" title="LinkedIn Profile"></a>
{{end}}

{{ if .Site.Params.githubName }}
    <a class="icon-github" href="https://github.com/{{ .Site.Params.githubName }}" target="_blank" title="GitHub Profile"></a>
{{end}}

{{ if .Site.Params.codepenName }}
    <a class="icon-codepen" href="https://codepen.io/{{ .Site.Params.codepenName }}" target="_blank"></a>
{{end}}

{{ if .Site.Params.flickrName }}
    <a class="icon-flickr" href="https://flickr.com/{{ .Site.Params.flickrName }}" target="_blank"></a>
{{end}}

{{ if .Site.Params.stackoverflowId }}
    <a class="bloglogo" href="https://stackoverflow.com/users/{{ .Site.Params.stackoverflowId }}" target="_blank">
        <img src="images/stackoverflow.svg" height="40" width="40">
    </a>
{{end}}

{{ if .Site.Params.twitterName }}
    <a class="icon-twitter" href="https://twitter.com/{{ .Site.Params.twitterName }}" target="_blank"></a>
{{end}}

{{ if .Site.Params.facebookName }}
    <a class="icon-facebook" href="https://www.facebook.com/{{ .Site.Params.facebookName }}" target="_blank"></a>
{{end}}

{{ if .Site.Params.instagramName }}
    <a class="icon-instagram" href="https://instagram.com/{{ .Site.Params.instagramName }}" target="_blank"></a>
{{end}}

{{ if .Site.Params.email }}
    <a class="icon-mail" href="mailto:{{ .Site.Params.email }}" target="_blank"></a>
{{end}}

{{ if .Site.Params.pinterestName }}
    <a class="icon-pinterest" href="https://www.pinterest.com/{{ .Site.Params.pinterestName }}" target="_blank"></a>
{{end}}

{{ if .Site.Params.keybaseName }}
    <a class="bloglogo" href="https://keybase.io/{{ .Site.Params.keybaseName }}" target="_blank">
        <img src="images/keybase.svg" height="40" width="40">
    </a>
{{end}}
</div>