{{ partial "header.html" . }}

{{if .Site.Params.cover}}
{{if or (hasPrefix .Site.Params.cover "http://") (hasPrefix .Site.Params.cover "https://")}}
  <header class="main-header" style="background-image: url({{.Site.Params.cover}})">
  {{ else }}
  <header class="main-header" style="background-image: url({{.Site.Params.cover | relURL}})">
  {{ end }}
{{else}}
<header class="main-header no-cover">
{{end}}

    {{ partial "nav.html" . }}

    <div class="vertical">
        {{ partial "site-header.html" . }}
    </div>
    <a class="scroll-down icon-arrow-left" href="#content"><span class="hidden">Scroll Down</span></a>
</header>


<main id="content" class="content" role="main">

{{ partial "home-content.html" . }}

</main>

{{ partial "footer.html" . }}
