{{ define "main" }}
{{if .Params.image}}
    {{ $imgURL := .Params.image }}
    {{if and (not (hasPrefix .Params.image "http://")) (not (hasPrefix .Params.image "https://"))}}
        {{ $imgURL := $imgURL | relURL }}
    {{ end }}
  <header class="main-header post-head" style="background-image: url({{ $imgURL }})">
    {{ partial "nav.html" . }}
      <div class="main-header-content vertical">
          <h1 class="post-title">{{.Title}}</h1>
      </div>
  </header>
{{else}}
  <header class="main-header post-head no-cover">
    {{ partial "nav.html" . }}
  </header>
{{ end }}

<main class="content content-single" role="main">

  <article class="post post-single {{ .Section }}">

    <header class="post-header">
        {{ if not .Params.image }}
        <h1 class="post-title">{{.Title}}</h1>
        {{ end }}
        <small>{{.Description}}</small>

        <section class="post-meta">
        {{ if eq .Section "post"}}
          <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
            {{ .Date.Format "Jan 2, 2006" }}
          </time>
        {{end}}
        {{ if and (ne .Params.comments false) .Site.Config.Services.Disqus.Shortname }}
          — <span class="num-comments">
            <a href="{{ .Permalink }}#disqus_thread" data-disqus-identifier="{{ .RelPermalink }}"></a>
          </span>
        {{ end }}
        </section>
    </header>

    <section class="post-content">
      {{ .Content }}
    </section>


  <footer class="post-footer">

      <section class="labels">
          Topics:
      {{ range .Params.tags }}
          <span class="post-tag small"><a href="{{$.Site.BaseURL}}/tags/{{ . | urlize }}/">#{{ . }}</a></span>
      {{ end }}
      </section>

      {{ partial "author.html" . }}

      {{ partial "disqus.html" . }}

  </footer>
</article>

</main>

{{if not .Params.hideSuggestions }}
  {{ partial "suggestions.html" . }}
{{ end }}
{{ end }}
